header div {
			display: inline;
			font-size: 30px;
			text-align: center;
			padding: 50px;
		}

		header {
			margin: 50px;
		}

		.message {
			text-align: center;
			font-size: 50px;
			color: red;
		}

		.para, .para-rock {
			display: inline-block;
			padding: 20px;
			border: 3px solid black;
			border-radius: 20px;
			margin: 50px;
		}

		.play, .play-again {
			margin-left: 500px;
			
		}

		.play-again {
			display: none;
		}