.container {
	width: 90%;
	margin: 0 auto;
}

header {
	margin: 50px;
	text-align: center;
	clear: right;

	
}

.score {
	display: inline;
	margin: 50px;
	padding: 50px;
	font-style: Arial;
	font-size: 20px;
	text-align: center;
}

.message {
	display: block;
	text-align: center;
	font-style: Arial;
	font-size: 30px;
	text-align: center;


}


section	div {
	text-align: center;
	display: inline-block;

}


.button	{
	
	border: 2px solid black;
	border-radius: 50px;
	background-color: white;
	margin: 0 10px;
	padding: auto;
	width: 300px;
	height: 300px;	
	

}

.rock {
	width: 250px;
	height: 250px; 



	background-image: url('images/rock.jpg');
	background-repeat: no-repeat;
}



.play-button {
	border: 0;
	background-color: white;
	top: 650px;
	width: 100%;	
}

.play-button img {
	border: 2px solid black;
	padding: 10px;
	border-radius: 30px;
}
